---
layout: default
title: Archive
---

<div id="archive">

    {% assign year = 0 %}

    {% for post in site.posts %}

        {% assign this-year = post.date | date:"%Y" %}
    
        {% if year == 0 %}
            <h1 class="archive-title">{{ this-year }}</h1>
            <ul id="archive-{{ this-year }}" class="archive-list">
        {% elsif year != this-year %}
            </ul>
            <h1 class="archive-title">{{ this-year }}</h1>
            <ul id="archive-{{ this-year }}" class="archive-list">
        {% endif %}
    
        {% assign year = this-year %}

        <li class="archive-entry">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="archive-date">{{ post.date | date: "%b %e" }}</span>
        </li>
    
    
    {% endfor %}
    </ul>

</div>