<!doctype html>
<html lang="{% if page.language %}{{ page.language }}{% else %}en{% endif %}">
<head>
    <title>
        {% if page.title %}
            {{ page.title }} |
        {% endif %}
        smaxtra edition
    </title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ site.author | escape}}" />
    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
    {% else %}
        <meta name="description" content="{{ site.description | escape }}" />
    {% endif %}
    {% if page.tags %}
        <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}" />
    {% endif %}
    
    <link rel="stylesheet" href="{{ site.url }}/assets/css/reset.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/default.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/highlighting.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
    <script>
        $(document).ready(function(){
            $(".video").fitVids();
        });
    </script>
</head>

<body>
    <header id="masthead" role="banner">
        <h1 id="masthead-title">
            <a href="/">smaxtr&#x00e6;dition</a>
        </h1>
    </header>
    
    {% if page.category %}
        {% include post.html %}
    {% else %}
        {{ content }}
    {% endif %}

    <footer id="colophon">&copy; <a href="https://twitter.com/smaxtastic">Stephan Max</a></footer>
</body>
</html>